USE [master]
GO
/****** Object:  Database [db_nitttr]    Script Date: 08/13/2016 06:53:32 ******/
CREATE DATABASE [db_nitttr] ON  PRIMARY 
( NAME = N'db_nitttr', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\db_nitttr.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_nitttr_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\db_nitttr_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_nitttr].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_nitttr]
GO
/****** Object:  Table [dbo].[STATES]    Script Date: 08/13/2016 06:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STATES](
	[STATE] [varchar](700) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[STATES] ([STATE]) VALUES (N'HARYANA')
INSERT [dbo].[STATES] ([STATE]) VALUES (N'PUNJAB')
INSERT [dbo].[STATES] ([STATE]) VALUES (N'CHANDIGARH')
/****** Object:  Table [dbo].[POSTPONE_COURSE_REG]    Script Date: 08/13/2016 06:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[POSTPONE_COURSE_REG](
	[REG_ID] [int] NOT NULL,
	[OPLAN_NO] [varchar](700) NULL,
	[PTITLE] [varchar](700) NULL,
	[COURSE_NAME] [varchar](700) NULL,
	[STARTDATE] [date] NULL,
	[ENDDATE] [date] NULL,
	[SCHEDULE] [varchar](700) NULL,
	[VENUE] [varchar](700) NULL,
	[DEPTT] [varchar](700) NULL,
	[NEW_STARTDATE] [date] NOT NULL,
	[NEW_ENDDATE] [date] NULL,
	[NEW_VENUE] [varchar](700) NULL,
 CONSTRAINT [PK_POSTPONE_COURSE_REG] PRIMARY KEY CLUSTERED 
(
	[REG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[POSTPONE_COURSE_REG] ([REG_ID], [OPLAN_NO], [PTITLE], [COURSE_NAME], [STARTDATE], [ENDDATE], [SCHEDULE], [VENUE], [DEPTT], [NEW_STARTDATE], [NEW_ENDDATE], [NEW_VENUE]) VALUES (380, N'101', N'bedi saab', NULL, CAST(0xBB3B0B00 AS Date), CAST(0xBC3B0B00 AS Date), NULL, N'ccet', N'Computer Science and Engineering', CAST(0xBE3B0B00 AS Date), CAST(0xBF3B0B00 AS Date), N'bvhg')
/****** Object:  Table [dbo].[PARTICIPANT]    Script Date: 08/13/2016 06:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PARTICIPANT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OPLAN_NO] [varchar](700) NULL,
	[COURSE_NAME] [varchar](700) NULL,
	[HINDI_COURSE_NAME] [nvarchar](700) NULL,
	[DEPTT] [varchar](700) NULL,
	[HINDI_DEPTT] [nvarchar](700) NULL,
	[NAME] [varchar](700) NULL,
	[HINDI_NAME] [nvarchar](700) NULL,
	[DESIGNATION] [varchar](700) NULL,
	[HINDI_DESIGNATION] [nvarchar](700) NULL,
	[INSTITUTE] [varchar](700) NULL,
	[HINDI_INSTITUTE] [nvarchar](700) NULL,
	[ADDRESS] [varchar](700) NULL,
	[MOBILE] [varchar](700) NULL,
	[E_MAIL] [varchar](700) NULL,
	[STATE] [varchar](700) NULL,
	[HINDI_STATE] [nvarchar](700) NULL,
	[INSTITUTE_TYPE] [varchar](700) NULL,
	[START_DATE] [date] NULL,
	[END_DATE] [date] NULL,
	[TARGET_GROUP] [varchar](700) NULL,
	[ATTENDANCE] [bit] NULL,
	[CERTIFICATE_NO] [varchar](100) NULL,
	[VENUE] [varchar](700) NULL,
	[HINDI_VENUE] [nvarchar](700) NULL,
	[DURATION] [varchar](500) NULL,
	[HINDI_DURATION] [nvarchar](500) NULL,
	[RES_STATE] [varchar](500) NULL,
 CONSTRAINT [PK__HINDI_PA__3214EC273A81B327] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PARTICIPANT] ON
SET IDENTITY_INSERT [dbo].[PARTICIPANT] OFF
/****** Object:  Table [dbo].[LOGIN]    Script Date: 08/13/2016 06:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOGIN](
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[UserName] [varchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Role] [varchar](50) NULL,
	[password_change_status] [bit] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LOGIN] ([FirstName], [LastName], [UserName], [Password], [Email], [Role], [password_change_status]) VALUES (N'shiva ', N'prashar', N'sudesh', N'008bd5ad93b754d500338c253d9c1770', N'sudeshkumari1954@gmail.com', N'admin', NULL)
INSERT [dbo].[LOGIN] ([FirstName], [LastName], [UserName], [Password], [Email], [Role], [password_change_status]) VALUES (N'Web', N'STC', N'webstc', N'e9d62e47fa94557586b2c08deac84633', N'csd@nitttrchd.ac.in', N'student', NULL)
INSERT [dbo].[LOGIN] ([FirstName], [LastName], [UserName], [Password], [Email], [Role], [password_change_status]) VALUES (N'Web', N'STC', N'webstc', N'81dc9bdb52d04dc20036dbd8313ed055', N'admin@gmail.com', N'admin', NULL)
/****** Object:  Table [dbo].[COURSE_REG]    Script Date: 08/13/2016 06:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COURSE_REG](
	[REG_ID] [int] IDENTITY(1,1) NOT NULL,
	[OPLAN_NO] [varchar](500) NULL,
	[PTITLE] [varchar](500) NULL,
	[HINDI_PTITLE] [nvarchar](500) NULL,
	[START_DATE] [date] NULL,
	[END_DATE] [date] NULL,
	[VENUE] [varchar](500) NULL,
	[HINDI_VENUE] [nvarchar](500) NULL,
	[DEPTT] [varchar](500) NULL,
	[HINDI_DEPTT] [nvarchar](500) NULL,
	[STATUS] [varchar](500) NULL,
	[TYPE] [varchar](500) NULL,
	[DURATION] [varchar](500) NULL,
	[HINDI_DURATION] [nvarchar](500) NULL,
	[COORDINATOR_NAME] [varchar](100) NULL,
 CONSTRAINT [PK_HINDI_COURSE_REG] PRIMARY KEY CLUSTERED 
(
	[REG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[COURSE_REG] ON
INSERT [dbo].[COURSE_REG] ([REG_ID], [OPLAN_NO], [PTITLE], [HINDI_PTITLE], [START_DATE], [END_DATE], [VENUE], [HINDI_VENUE], [DEPTT], [HINDI_DEPTT], [STATUS], [TYPE], [DURATION], [HINDI_DURATION], [COORDINATOR_NAME]) VALUES (344, N'ID29', N'Web Based Content Development Using Moodle', N'वेब बेस्ड कंटेंट डेवलपमेंट युसिंग मूडल ', CAST(0x8D3B0B00 AS Date), CAST(0x913B0B00 AS Date), N'NITTTR Exten. Centre Jaipur', N'नाइटर एक्सटेंडेड सेंटर जयपुर ', N'Computer Science and Engineering', N'कंप्यूटर विज्ञान और अभियांत्रिकी', N'PLANNED', N'BILINGUAL', N'1 WEEK', N'एक सप्ताह ', NULL)
INSERT [dbo].[COURSE_REG] ([REG_ID], [OPLAN_NO], [PTITLE], [HINDI_PTITLE], [START_DATE], [END_DATE], [VENUE], [HINDI_VENUE], [DEPTT], [HINDI_DEPTT], [STATUS], [TYPE], [DURATION], [HINDI_DURATION], [COORDINATOR_NAME]) VALUES (345, N'ID24', N'Modern Office Automation & ICT Tools ', N'मॉडर्न ऑफिस ऑटोमेशन एंड आई.सी.टी. टूल्स ', CAST(0xCB3B0B00 AS Date), CAST(0xD03B0B00 AS Date), N'GPC, Udaipur', N'GPC, उदयपुर ', N'Computer Science and Engineering', N'कंप्यूटर विज्ञान और अभियांत्रिकी', N'PLANNED', N'BILINGUAL', N'1 WEEK ', N'एक सप्ताह ', NULL)
INSERT [dbo].[COURSE_REG] ([REG_ID], [OPLAN_NO], [PTITLE], [HINDI_PTITLE], [START_DATE], [END_DATE], [VENUE], [HINDI_VENUE], [DEPTT], [HINDI_DEPTT], [STATUS], [TYPE], [DURATION], [HINDI_DURATION], [COORDINATOR_NAME]) VALUES (346, N'ID54', N'Internet Technologies', N'इंटरनेट  टेक्नोलॉजीज ', CAST(0xC53B0B00 AS Date), CAST(0xAA3B0B00 AS Date), N'NITTTR, CHANDIGARH', N'नाइटर चंडीगढ़ ', N'Computer Science and Engineering', N'कंप्यूटर विज्ञान और अभियांत्रिकी', N'PLANNED', N'BILINGUAL', N'1 WEEK', N'एक सप्ताह ', NULL)
SET IDENTITY_INSERT [dbo].[COURSE_REG] OFF
/****** Object:  Default [DF_PARTICIPANT_ATTENDANCE_1]    Script Date: 08/13/2016 06:53:33 ******/
ALTER TABLE [dbo].[PARTICIPANT] ADD  CONSTRAINT [DF_PARTICIPANT_ATTENDANCE_1]  DEFAULT ((0)) FOR [ATTENDANCE]
GO
/****** Object:  Default [DF_LOGIN_Role]    Script Date: 08/13/2016 06:53:33 ******/
ALTER TABLE [dbo].[LOGIN] ADD  CONSTRAINT [DF_LOGIN_Role]  DEFAULT (N'student') FOR [Role]
GO
/****** Object:  Default [DF_COURSE_REG_STATUS_1]    Script Date: 08/13/2016 06:53:33 ******/
ALTER TABLE [dbo].[COURSE_REG] ADD  CONSTRAINT [DF_COURSE_REG_STATUS_1]  DEFAULT ('PLANNED') FOR [STATUS]
GO
